[Unit]
Description=Apache Kafka - broker for ZTF Alerts
Requires=ztf-zookeeper.service firewalld.service
After=network.target ztf-zookeeper.service firewalld.service

[Service]
Type=simple
User=cp-kafka
Group=confluent
Environment='KAFKA_OPTS=-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf -javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent.jar=private:8080:/etc/jmx_exporter/kafka.yml'
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties
TimeoutStopSec=180
Restart=always
SuccessExitStatus=143
RestartSec=60
SyslogIdentifier=ztf-kafka
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
