[Unit]
Description=Apache Kafka - broker for ZTF Alerts
Requires=ztf-zookeeper.service 
After=network.target ztf-zookeeper.service 

[Service]
Type=simple
User=cp-kafka
Group=confluent
Environment=-javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent.jar=private:8080:/etc/jmx_exporter/kafka.yml'
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties
TimeoutStopSec=180
Restart=always
SuccessExitStatus=143
RestartSec=60
SyslogIdentifier=ztf-kafka
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
