[Unit]
Description=Apache Kafka - broker
Documentation=http://docs.confluent.io/
Requires=confluent-zookeeper.service
After=network.target confluent-zookeeper.target
PartOf=ztf-kafka.target

[Service]
Type=simple
User=cp-kafka
Group=confluent
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties --override broker.id=$BROKER --override listeners=$LISTENERS --override log.dirs=/var/lib/kafka/$BROKER
TimeoutStopSec=180
Restart=always
SuccessExitStatus=143
RestartSec=60

[Install]
WantedBy=multi-user.target
WantedBy=ztf-kafka.target
