[Unit]
Description=Apache Kafka - broker for ZTF Alerts
Requires=confluent-zookeeper.service firewalld.service
After=network.target confluent-zookeeper.service firewalld.service

[Service]
Type=simple
User=cp-kafka
Group=confluent
Environment='KAFKA_OPTS=-javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent.jar=private:8080:/etc/jmx_exporter/kafka.yml'
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties
TimeoutStopSec=180
Restart=always
SuccessExitStatus=143
RestartSec=60

[Install]
WantedBy=multi-user.target
