[Unit]
Description=ZTF Alert Broker Mirror Maker
After=ztf-alerts.target
Requires=ztf-alerts.target

[Service]
Type=simple
User=cp-kafka
Group=confluent
Environment=KAFKA_HEAP_OPTS=-Xmx4G
ExecStart=/usr/bin/kafka-mirror-maker --consumer.config /etc/ztf/consumer.properties --producer.config /etc/ztf/producer.properties --whitelist="^ztf.*$" --num.streams=16
TimeoutStopSec=180
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
